<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDN.LazyWork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SDN.LazyWork.Properties.Settings>
            <setting name="SQLConn" serializeAs="String">
                <value>integrated security=SSPI;data source=localhost;persist security info=True;initial catalog=Northwind</value>
            </setting>
        </SDN.LazyWork.Properties.Settings>
    </userSettings>
</configuration>